<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruihua.geshuibao">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Base.MyAplication"
        android:allowBackup="true"
        android:largeHeap = "true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Acivity.GuideActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--自定义广播接收器  退出app-->
        <receiver android:name=".Base.BaseActivity$MyReceiver" />
        <!--监听 IM聊天消息的  服务-->
        <service
            android:name="com.ruihua.geshuibao.Base.ChatMessageService"
            android:label="ChatMessageService"
            />
        <activity
            android:name=".Acivity.LoginActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acivity.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Acivity.RejisterActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <!--找回密码-->
        <activity
            android:name=".Acivity.ForgetActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.PersonalInformationActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.SetUpActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.JoinCompanyActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MyIndividualIncomeTax"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MyDeclareActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MonthlySpecialExpenseDeductionActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.PoliciesRegulationsActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.NotifierProPlusActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MsgAndNewsDetailsActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.SearchActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MyCompanyActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.SelfHelpActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.MyCollectActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.ChatActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".Acivity.ConsultRecordActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
    </application>

</manifest>